body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background: rgb(16, 122, 78);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 32, 16, 0.1);
    width: 300px;
    text-align: centers;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin: 10px;
    background: rgb(6, 6, 6);
    border: none;
    color: #ccc;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background: rgb(14, 157, 59);
}

a:hover{
    color: rgb(24, 246, 161);
    text-decoration: underline;
}